<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <!--引入vue-->
    <script src="../../build/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <!--使用定义的组件-->
        <my-component>{{msg}}</my-component>
        <my-component></my-component>
        <my-component/>
    </div>
    <script>
        // 创建vue对象
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '这是个msg'
            },
            // 定义私有组件
            components: {
                'my-component': {
                    data() {
                        return {
                            title: '这是个标题'
                        }
                    },
                    template: '<h1>jsdofisdofd</h1>'
                }
            }
        })
    </script>
</body>

</html>