<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <script src="../../build/vue.min.js"></script>
    <script src="../../build/vue-resource.min.js"></script>
</head>

<body>
    <div id="app">
        <button @click="btnBeClicked">请求点击</button>
        {{message}}
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: []
            },
            methods: {
                btnBeClicked() {
                    // 请求
                    var url = 'http://182.254.146.100:8899/api/getlunbo'

                    this.$http.get(url).then(
                        function (response) {
                            this.message = response.body.message
                        },
                        function (err) {
                            console.log(err)
                        }
                    )
                }
            }
        })
    </script>
</body>

</html>