<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <script src="../../build/vue.min.js"></script>
</head>

<body>
    <div id="app">
        {{title | toLower}}
    </div>
    <script>
        //        全局的过滤器
        Vue.filter('toLower', function (input) {
            return input.toLowerCase()
        })

        var vm = new Vue({
            el: '#app',
            data: {
                title: 'OJSDOFISF'
            }
        })
    </script>
</body>

</html>