<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <script src="../build/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="isTrue">
            {{title}}
        </div>
    </div>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                title: '你看不到我，你看不到我！',
                isTrue: false
            }
        })
    </script>
</body>

</html>